.design-button {
	user-select: none;
	position: relative;
	font-family: "Fira Sans Light";
	font-size: 14px;
	line-height: 44px;
	padding: 0 16px;
	border-radius: 3px;
	cursor: pointer;
/*	box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.15);*/
}
