#page-user {
}

.user-wrapper {
	white-space: nowrap;
	padding: 10px 20px;
	height: 48px;
	user-select: none;
}

.user-img {
	background-image: url(https://lh6.googleusercontent.com/-guPTOCf3KbA/AAAAAAAAAAI/AAAAAAAAAhQ/J2Eh0JujqiY/photo.jpg);
	border-radius: 50%;
	width: 48px;
	height: 48px;
	float: left;
}

.user-text {
	margin: 0 0 0 20px;
	float: left;
	width: calc(100% - 68px);
	line-height: 18px;
	font-family: "Fira Sans";
}

.user-name {
	margin-top: 6px;
	color: var(--sidebar-color);
	
}

.user-email {
	margin-bottom: 6px;
	color: var(--searchSel-color);
}

#user-add {
	margin: 6px 8px;
	float: left;
	background: var(--highlight-color);
	color: var(--bg-color);
}
