#page-user {
	overflow-y: auto;
}

.user-wrapper {
	white-space: nowrap;
	height: 68px;
	user-select: none;
	position: absolute;
	width: 100%;
}

.user-img {
	border-radius: 50%;
	width: 48px;
	height: 48px;
	margin: 10px 20px;
	float: left;
}

.user-text {
	float: left;
	width: calc(100% - 156px);
	line-height: 18px;
	font-family: "Fira Sans";
}

.user-name {
	margin-top: 16px;
	color: var(--sidebar-color);
	
}

.user-email {
	margin-bottom: 16px;
	color: var(--searchSel-color);
}

.user-clear {
	margin: 10px;
}

.user-clear .design-tooltip {
	margin: auto;
	right: 95%;
	top: 0;
	bottom: 0;
}

.user-clear:hover .design-tooltip {
	opacity: 0.6;
	transition-delay: 700ms;
}

#user-add {
	margin: 16px;
	float: left;
	background: var(--highlight-color);
	color: var(--bg-color);
}
