#search {
	background-color: #f8f8f8;
	width: 100%;
	height: 48px;
	position: relative;
}

#search:hover #search-icon {
	color: #b8b8b8;
}

#search-icon {
	margin: 0 12px;
	cursor: pointer;
	text-align: center;
	width: 48px;
	height: 48px;
	user-select: none;
	float: left;
	color: #e8e8e8;
}

#search-icon .fa {
	transition: color 200ms;
	font-size: 24px;
	line-height: 48px;
}

#search-box {
	float: left;
	width: calc(100% - 120px);
	height: 48px;
	padding: 0;
	line-height: 48px;
	resize: none;
	outline: 0;
	border: none;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: auto;
	font-family: "PT Mono";
	font-size: 18px;
	background-color: #f8f8f8;
	color: #a5a2a2;
}

#search-box::placeholder {
	color: #d8d8d8;
}
/*
#search-box:focus {
	color: #a5a2a2;
}
*/
#search-box::selection {
	background: #86c1b9;
	color: #5c5855;
}

#search-clear {
	margin: 0;
	cursor: pointer;
	text-align: center;
	width: 48px;
	height: 48px;
	user-select: none;
	float: right;
	color: #d8d8d8;
	opacity: 0;
	transition: opacity 500ms;
}

#search-clear .fa {
	transition: color 200ms;
	font-size: 22px;
	line-height: 48px;
}

#search-clear:hover {
	color: #ab4642;
/*
#search-button {
	position: absolute;
	margin: 0 12px;
	cursor: pointer;
	text-align: center;
	width: 48px;
	height: 48px;
	user-select: none;
}

#search-button .fa {
	font-size: 26px;
	line-height: 48px;
	color: #e8e8e8;
	transition: color 200ms;
}

#search-button:hover .fa {
	color: #d8d8d8;
}

#search-button:hover .tooltip  {
	opacity: 0.6;
	transition-delay: 700ms;
}
*/
