#sidebar {
	background-color: #181818;
	width: 48px;
	height: 100%;
	float: left;
	position: relative;
	z-index: 5;
	box-shadow: 0 0 7px #000;
	user-select: none;
}

.sidebar-button {
	position: absolute;
	padding: 6px;
	margin: 0;
	overflow: hidden;
	cursor: pointer;
}

.sidebar-button svg {
	user-select: none;
	pointer-events: none;
	display: block;
}

.sidebar-button svg:first-child {
	fill: #b8b8b8;
}

#sidebar-calendar {
	top: 0;
	left: 0;
}

#sidebar-add {
	top: 48px;
	left: 0;
}

#sidebar-done {
	top: 96px;
	left: 0;
}

#sidebar-refresh {
	bottom: 48px;
	left: 0;
}

#sidebar-settings {
	bottom: 0;
	left: 0;
}

#sidebar-selected {
	background-color: #ab4642;
	width: 4px;
	height: 48px;
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	transition: top 300ms
}
