#sidebar {
	background-color: var(--sidebar-color);
	width: 48px;
	height: 100%;
	float: left;
	position: relative;
	z-index: 10;
	user-select: none;
	transform: translate(-48px, 0);
	transition: transform 300ms;
	box-shadow: 1px 0 3px 1px rgba(0, 0, 0, 0.15);
}

.sidebar-button {
	position: absolute;
	margin: 0;
	cursor: pointer;
	width: 48px;
	height: 48px;
	transition: fill 200ms;
	fill: var(--searchSel-color);
}

.sidebar-button:hover {
	fill: var(--bg-color);
}

.sidebar-button svg {
	margin: 8px 0 0 8px;
	width: 32px;
	height: 32px;
}

.sidebar-button .design-tooltip {
	left: 90%;
	top: 0;
	bottom: 0;
	margin: auto;
}

.sidebar-button:hover .design-tooltip {
	opacity: 0.8;
	transition-delay: 500ms;
}

#sidebar-user {
	top: 0;
	left: 0;
}

#sidebar-tasks {
	top: 48px;
	left: 0;
}

#sidebar-create {
	top: 96px;
	left: 0;
}

#sidebar-done {
	top: 144px;
	left: 0;
}

#sidebar-removed {
	top: 192px;
	left: 0;
}

#sidebar-refresh {
	bottom: 48px;
	left: 0;
}

#sidebar-settings {
	bottom: 0;
	left: 0;
}

#sidebar-selected {
	background-color: var(--highlight-color);
	width: 4px;
	height: 48px;
	position: absolute;
	left: 0;
	pointer-events: none;
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.15);
	transition: top 300ms;
}
