/*.tooltip {
	position: absolute;
	left: 90%;
	height: 1em;
	top: 0;
	bottom: 0;
	margin: auto;
	pointer-events: none;
	z-index: 20;
	padding: 6px 11px;
	opacity: 0;
	border-radius: 2px;
	background-color: var(--sidebar-color);
	color: var(--bg-color);
	transition: opacity 200ms;
	white-space: nowrap;
	font-family: "Fira Sans Medium";
	letter-spacing: 2px;
	font-size: 12px;
}*/
